*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*The above is the standard css template for all my apps

/*Styling for container*/
.container{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
    background: #58618a;
}
/*Styling for container form*/
.container form{
    background: #aa8989;
    max-width: 500px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 35px rgba(58, 56, 56, 0.5) ;
    width: 100%;
    padding: 50px 30px 20px;
}
/*Styling for fa-paper-plane*/
.fa-regular fa-paper-plane{
    left: 45%;
    background: #c4b7b7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 25px;
    font-size: 25px;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 45%;
    top: 0;
}
/*Styling for input group*/
.input-group{
    margin: 12px 0;
    width: 100%;
    align-items: center;
    position: relative;
    display: flex;
}
/*Styling for input group label*/
.input-group label{
    flex-basis: 30%;
}
/*Styling input group input and input group textarea*/
.input-group input, .input-group textarea{
    padding: 12px 0;
    flex-basis: 70%;
    border-bottom: 1px solid #bb7d7d;
    outline: 0;
    color: #6e6767;
    font-size: 17px;
    border: 0;
    background: transparent;
}
/*Decoration for placeholder*/
::placeholder{
    font-size: 15px;
}

/*Styling for form button*/
form button{
    outline: 0;
    cursor: pointer;
    margin: 30px auto 10px;
    border-radius: 5px;
    background: #8791b9;
    padding: 12px 45px;
    color: #e6d0d0;
    border: 2px solid rgba(255, 255, 255, 0.7);
    display: block;
}
/*Change position and color of error message*/
.input-group span{
    color:rgb(105, 34, 212);
    position: absolute;
    right: 18px;
    bottom: 13px;
    font-size: 15px;
}
/*change color of submit button error message, use # coz it's an ID*/ 
#submit-error{
    color: rgb(105, 34, 212);
}
/*Change color of check icon using i tag*/
.input-group span i{
    color: #8791b9;
}