*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*The above is the standard css template for all my apps

/*Styling for container*/
.container{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
    background: #8593d3;
}
/*Styling for container form*/
.container form{
    background: #e4b5b5;
    max-width: 500px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.5) ;
    width: 100%;
    padding: 50px 30px 20px;
}
/*Styling for fa-paper-plane*/
.fa-paper-plane{
    left: 45%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 25px;
    font-size: 25px;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 45%;
    top: 0;
}
/*Styling for input group*/
.input-group{
    margin: 12px 0;
    width: 100%;
    align-items: center;
    position: relative;
    display: flex;
}
/*Styling for input group label*/
.input-group label{
    
}
